@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-rgb: 255, 255, 255;
}

html {
  background: #FFFFFF;
}

body {
  color: #212121;
  background: #FFFFFF !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#__next {
  background: #FFFFFF;
}

* {
  box-sizing: border-box;
}

/* Material UI ile uyumlu scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
} 